/*colors:
#D34472 Primary:Pink
#39B18E Secondary: Teal
#C0F9F0 Tertiary: light teal
*/


body{
	background: url("../img/binding_light.png");
	font-family: 'Allerta', sans-serif;
}

h1{
	color:#D34472; 
	text-shadow: 1px 2px 3px #DDEEFF,
               0 0 0 black,
               -1px 1px 0 #DDEEFF,
               1px 1px 0 white;
	font-size: 48px;
	
}

h3{
	color: #D34472;
}

img{
	box-shadow: 0 0 50px #C0F9F0;
	
}


header{
	
}

nav{
	
}